{% extends 'base.html' %}

{% block content %}
    <header>
        <h2>{{ room.name }}</h2>
    </header>

    <section class="section text-white">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="box messages" id="chat-messages">
                    {% for m in message_list %}
                        <b>{{ m.user.username }}</b>: {{ m.content }}<br>
                    {% endfor %}
                </div>
            </div>

            <div class="col-8 offset-2">
                <div class="box">
                    <div class="media">
                        <div class="media-body">
                            <form id="chat-message-form">
                                <div class="form-group">
                                    <label for="chat-message-input">Message</label>
                                    <input type="text" name="content" id="chat-message-input" class="form-control"
                                           placeholder="Your message..."/>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ room.slug|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}

    <script>
        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );

        chatSocket.onclose = function () {
            console.error('The socket closed unexpectedly');
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            if (data.message) {
                document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
            }

            scrollToBottom();
        };

        document.addEventListener("DOMContentLoaded", function () {
            console.log("DOM content loaded.");

            document.querySelector('#chat-message-input').focus();

            const form = document.querySelector('#chat-message-form');
            console.log(form);
            form.addEventListener('submit', function (e) {
                e.preventDefault();

                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;

                if (message !== '') {
                    chatSocket.send(JSON.stringify({
                        'message': message,
                        'username': userName,
                        'room': roomName
                    }));

                    messageInputDom.value = '';
                }

                return false;
            });
        });

        function scrollToBottom() {
            let objDiv = document.getElementById("chat-messages");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        scrollToBottom();
    </script>
{% endblock %}