{% extends 'base.html' %}

{% block content %}
    <header>
        <h2>{{ room.name }}</h2>
    </header>

    <section class="section text-white">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="box messages" id="chat-messages">
                    Messages will be displayed here...
                </div>
            </div>

            <div class="col-8 offset-2">
                <div class="box">
                    <div class="media">
                        <div class="media-body">
                            <form method="post" action=".">
                                <div class="form-group">
                                    <label for="chat-message-input">Message</label>
                                    <input type="text" name="content" id="chat-message-input" class="form-control"
                                                                                   placeholder="Your message...">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" id="chat-message-submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}