{%extends 'base.html' %}
{% load rules %}

{%block content%}

<div class="center">
	<h2>Courses</h2>
	{% if course_list %}
	<ul class="courses">
		{% for course in course_list %}
            <li>
                <a href="{% url 'course' course.id %}">{{ course.name }}</a>
                <div  class="course-controls">
                    {% has_perm 'uniworld.delete_course' request.user course as can_delete_course %}
                    {% if can_delete_course %}
                        <a href="{%url 'course-delete' course.id %}"><i class="bi bi-trash"></i> </a>
                    {% endif %}
                    {% has_perm 'uniworld.change_course' request.user course as can_change_course %}
                    {% if can_change_course %}
                        <a href="{%url 'course-update' course.id %}"><i class="bi bi-pencil-square"></i></a>
                    {% endif %}
                </div>
            </li>
		{% endfor %}
	{% else %}
		<p>No courses found.</p>
	{% endif %}
	</ul>
</div>
{%endblock content%}