{% extends 'base.html' %}
{% load rules %}

{% block content %}
    <div class="center">
        <h2>Courses</h2>
        <div class="mb-3">
            <a href="{% url 'courses' %}?filter=my_courses" class="btn btn-secondary me-2">
                <i class="bi bi-person-circle me-2"></i>My Courses
            </a>
            {% if can_add_course %}
                <a href="{% url 'course-create' %}" class="btn btn-primary">
                    <i class="bi bi-plus-circle me-2"></i>Create New Course
                </a>
            {% endif %}
        </div>
        {% if course_list %}
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                {% for course in course_list %}
                    <div class="col">
                        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                             style="background-image: url('https://picsum.photos/seed/{{ course.id }}/400/200'); background-size: cover;">
                            <div class="overlay position-absolute top-0 start-0 p-3 text-white d-flex align-items-center">
                                <div class="me-3 d-flex align-items-center">
                                    <span class="star">&#9733;</span>
                                    <span class="ms-1">{{ course.average_rating|default:"0" }}</span>
                                </div>
                                <div>
                                    <i class="bi bi-people-fill"></i> {{ course.total_students }} students
                                </div>
                            </div>
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 opacity-75">
                                <h3 class="mt-5 mb-4 display-6 lh-1 fw-bold bg-light-subtle text-black-50">
                                    <a href="{% url 'course-view' course.pk %}" class="text-decoration-none text-black-50">{{ course.name }}</a>
                                </h3>
                                <ul class="d-flex list-unstyled mt-auto bg-dark p-2 text-light">
                                    <li class="me-auto">
                                        <a href="{% url 'profile' course.teacher.pk %}">
                                            <img src="{{ course.teacher.profile.avatar.url }}" alt="Instructor" width="32"
                                                 height="32" class="rounded-circle border border-white">
                                        </a>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <small>{{ course.teacher.first_name }} {{ course.teacher.last_name }}</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No courses found.</p>
        {% endif %}
    </div>
{% endblock content %}