{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="w-50 m-auto">
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Reset password</h1>
            {% bootstrap_form_errors form type='non_fields' %}
            {% bootstrap_form form layout='floating' %}

            {% bootstrap_button button_type="submit" content="<i class='bi bi-send me-2'></i>Send" button_class='btn btn-primary full-width' %}
            {% url 'login' as login_url %}
            {% bootstrap_button button_type="link" content="<i class='bi bi-x-circle me-2'></i>Cancel" button_class='btn btn-outline full-width' href=login_url %}
        </form>
    </div>
{% endblock content %}