{% extends 'base.html' %}

{% block content %}
    <div class="card w-50 m-auto">
        {% if user.profile %}
            <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" class="card-img-top img-thumbnail"/>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ user.username | title }}</h5>
            <p class="card-text"><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            <hr>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address:</label>
                    <input type="email" id="email" class="form-control" value="{{ user.email }}"/>
                </div>
                <div class="mb-3">
                    <label for="avatar" class="form-label">Avatar:</label>
                    <input type="file" name="avatar" id="avatar" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary full-width">Update Profile</button>
            </form>
        </div>
    </div>
{% endblock content %}
