{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'images/feature.webp' %}" class="d-block mx-lg-auto img-fluid" alt="Feature"
                     width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">UniWorld</h1>
                <p class="lead">E-Learning Platform for Online Courses.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="btn btn-primary cta" href="{% url 'register' %}">Get Started</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}